/*  ================ Import fonts from Google ==================================== */

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);




/*  ================ Reset some basic elements ================ */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* ================= HTML ============================== */


/* ================= Body ==============================* */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em auto;
    padding: 0 1em;
    max-width: 70em;
    font: normal 100%/150% "Josefin Sans",
                         "Helvetica Neue",
                          Helvetica,
                          Arial,
                          sans-serif;
}



/* ================= Headings ========================== */

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 189, 160);
    height: 5em;
    margin: 0em;
}

h1, h2, h3 {
        font-family: "Josefin Slab", Arial, serif;
        font-weight: bold;
      }


div h2 {
    display: flex;
    flex-direction: column;
}


/* ================= Layout: Header ==================== */


header {
    margin: .5em;
    max-width: 70em;
    display:flex;
    justify-content: space-between;

}

header img {
    height: 108.5px;
    width: 125px;
}

header nav {
    display: flex;
    justify-content: space-between;

}


nav a {
    text-decoration-line: none;
    padding: .5em;
    color: black;
    background-color: #da873f;
    margin: .3em;
}
.lead-button {
    background-color: red;
    color: white;
}


header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 290px;
    list-style: none;
    margin: 2em;
    padding: 1em;

}

/* ================= Layout: Main ================= */

main .lead_content {
    display: flex;
    justify-content: space-around;

}

.html-img {
    height: 90.25px;
    width: 64px;
}

.css-img {
    height: 90.25px;
    width: 64px;
}

.js-img {
    height: 90.25px;
    width: 64px;
}

main .columns_1-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}